// xblocks - default styling
// ==========================

// UI: xblock wrapper
.xblock-wrapper {
  margin: ($baseline/2);
  border: 1px solid $gray-l4;
  border-radius: ($baseline/5);
  background: $white;
  box-shadow: 0px 1px 1px $shadow-l1;


  &:hover {
    box-shadow: 0 0 1px $shadow;
  }

  // UI: xblock header
  .xblock-header {
    @include box-sizing(border-box);
    display: flex;
    border-bottom: 1px solid $gray-l4;
    border-radius: ($baseline/5) ($baseline/5) 0 0;
    min-height: ($baseline*2.5);
    background-color: $gray-l6;
    align-items: center;


    .header-details {
      @extend %cont-truncated;
      display: flex;
      padding-left: flex-gutter();
      width: flex-grid(6,12);
      vertical-align: top;
      justify-content: flex-start;
    }

    .header-actions {
      display: flex;
      width: flex-grid(6,12);
      vertical-align: top;
      justify-content: flex-end;
    }
  }

  // UI: xblock render
  .xblock-render {
    @extend %anim-fadeIn;
  }
}

// UI: xblocks - calls-to-action
// --------------------
// TODO: this section uses similar styling as _outline.scss, should be separated or more cleanly inherited from general xblocks styling.

.xblock-wrapper {

  .actions-list {
    display: inline-block;
    margin-bottom: 0;
  }

  .action-item {
    display: inline-block;

    .action-button {
      @include transition(all $tmg-f2 ease-in-out 0s);
      border-radius: 3px;
      padding: ($baseline/4) ($baseline/2);
      min-width: ($baseline*.75);
      width: auto;
      height: ($baseline*1.5);
      color: $gray-l1;

      &:hover {
        background-color: $blue;
        color: $white;
      }

      .action-button-text {
        padding-left: 1px;
        text-transform: uppercase;
      }

      &.delete-button:hover {
        background-color: $gray-l1;
      }
    }
  }
}

// UI: xblock is expandable and collapsible
// --------------------
// TODO: this section uses similar styling block as _outline.scss, should be separated or more cleanly inherited
.xblock-wrapper.is-collapsible {

  .expand-collapse {
    @include transition(all $tmg-f2 linear 0s);
    display: inline-block;
    margin: 0 ($baseline/4);
    color: $gray-l2;
    vertical-align: top;

    &:hover {
      color: $blue;
    }

    .ui-toggle-expansion {
      @include transition(all $tmg-f2 ease-in-out 0s);
      @include font-size(18);
      display: inline-block;
      margin-right: ($baseline/4);
      color: $gray-l3;
      vertical-align: middle;
    }

    &.expand .ui-toggle-expansion {
      @include transform(rotate(-90deg));
      @include transform-origin(50% 50%);
    }
  }

  &.collapsed .xblock-render {
    display: none !important;
  }

  .action-view {

    .action-button-text {
      padding-right: ($baseline/5);
      padding-left: 0;
    }
  }
}

